    body {
        background-color: #1c87c9;
    }
    img {
        display: block;
        border: solid 3px;
        border-color: blue;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
        width: 200px;
        height: 150px;
    }
    table {
        background-color: lightblue;
        border: 1px solid black;
        width: 600px;
        height: 220px;
        border-collapse: collapse;
        
    }
    th, td {
        border: solid 1px;
    }

caption {
    caption-side: bottom;
    color: white;
}
